<div mat-dialog-content>
  <h1 class="pageMain">Bejelentkezés</h1>

  <form ngNativeValidate [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">
    <label for="username">Felhasználónév:</label>
    <input type="text" name="username" formControlName="username" id="username" maxlength="255" required>

    <label for="password">Jelszó:</label>
    <input type="password" name="password" formControlName="password" id="password" maxlength="255" required>

    <div class="login_button">
      <button type="submit" name="login">Bejelentkezés</button>
    </div>
  </form>

  <div class="show_msg">
    <p *ngIf="msg">{{msg}}</p>
  </div>
</div>
<a class="close-link" (click)="onClose()">×</a>
