<div mat-dialog-content>
  <h1 class="pageMain">Kategória szerkesztése</h1>

  <form ngNativeValidate [formGroup]="editCategoryForm" (ngSubmit)="onSubmit($event)">
    <label for="name">Név:</label>
    <input type="text" name="name" formControlName="name" id="name" maxlength="255" [(ngModel)]="data.name" required>

    <div class="add_button">
      <button type="submit" name="add">Szerkesztés</button>
    </div>
  </form>

  <div class="show_msg">
    <p *ngIf="msg">{{msg}}</p>
  </div>
</div>
<a class="close-link" (click)="onClose()">×</a>
