<h1 class="pageMain">Register</h1>

<form ngNativeValidate [formGroup]="registerForm" (ngSubmit)="onSubmit($event)">
  <label for="username">Username:</label>
  <input type="text" name="username" formControlName="username" id="username" maxlength="255" required>

  <label for="password">Password:</label>
  <input type="password" name="password" formControlName="password" id="password" maxlength="255" required>

  <div class="register_button">
    <button type="submit" name="submit">Register</button>
  </div>
</form>

<div class="show_msg">
  <p *ngIf="msg">{{msg}}</p>
</div>
