<h1 class="pageMain">Termékek</h1>

<p class="table-msg" *ngIf="errorMsg">{{errorMsg}}</p>
<p class="table-msg" *ngIf="cartMsg">{{cartMsg}}</p>
<p class="table-msg" *ngIf="errorStatus == 0">Server Down!</p>
<div class="products">
  <div class="product" *ngFor="let product of data | paginate: { itemsPerPage: 15, currentPage: pagination,
                  totalItems: allProducts }">
    <img src="{{product.image}}" alt="Product Image"/>
    <a class="productlink" href="product/{{product.id}}">{{product.name}}</a>
    <div class="productBottom">
      <b>Értékelés: {{product.rate}}</b>
      <div>{{product.price}} Ft</div>
      <a class="addtocartbutton" (click)="addToCart(product.id)">Kosárba</a>
    </div>
  </div>
</div>
<div class="mainPagePagination">
  <pagination-controls
    (pageChange)="renderPage($event)"
  ></pagination-controls>
</div>

