.mainpageh1 {
  text-align: center;
}
.products {
  overflow: auto;
  padding: 25px;
}
.product {
  width: 200px;
  padding: 20px;
  margin: 20px;
  float: left;
  text-align: center;
}
.product img {
  width: inherit;
  margin-bottom: 5px;
  max-height: 200px;
}
.productlink {
  color: #63b4cf;
  text-decoration: none;
}
.productlink:hover {
  color: #3ca1c3;
}
.product b {
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
}
.addtocartbutton {
  color: white;
  background-color: black;
  padding: 10px;
  display: block;
  margin: 10px 50px 20px;
  text-decoration: none;
}
.addtocartbutton:hover {
  color: grey;
}
