.categories {
  overflow: auto;
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: row;
}
.category {
  width: 200px;
  padding: 20px;
  margin: 20px;
  float: left;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.category{
  background-color: cornflowerblue;
  padding: 15px;
  color: aliceblue;
  text-decoration: none;
}
